on:
  release:
    types:
      - published

name: Release

jobs:

  sdist:
    name: Creating source release & pure wheel

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.6

    - name: Set up Python
      uses: actions/setup-python@v5.1.0
      with:
        python-version: "3.11"

    - name: Install uv
      run: pip install uv

    - name: Publishing
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        uv build
        uvx twine upload dist/*

  build_documentation:
      name: Building & uploading documentation.
      needs: [sdist]
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2

      - name: Setting up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Installing uv
        run: pip install uv

      - name: Installing Package
        run: uv sync --all-extras

      - name: Building documentation
        run: |
          cd docs && uv run make clean html

      - name: Publishing documentation
        run: |
          uv run ghp-import -f -n -p docs/_build/html